.Box {
   
    border: 2px solid black;
    justify-content: space-around;
    align-items: center;
    width: 100px;
    flex-wrap: wrap;
  };

  .quantity {
    text-align: center;
  };

  .type {
    text-align: center;
  }