.bigBox {
    border: 5px solid black;
   position: absolut;
    justify-content: center;
    text-align: center;
    width:  30vw;
    min-height: 40vw;
}

.person {
    border: 5px solid black;
    justify-content: center;
    text-align: center;
    width:  12vw;
    min-height: 8vw;
}

.photo{
    
   border: "5px solid black";
   border-radius: 50px;
}

.manyBox {
    border: "5px solid black";
    display: flex;
    justify-content: space-between;
    top: 100%;
    
    border: 5 solid black;
}

.boxOne {
    border: "5px solid black";
    
    
}
.boxTwo {
    border: "5px solid black";
    
    
}
.boxThree {
    border: "5px solid black";
    
    
}