.App {
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   right: 0px;
   bottom: 0px;
   left: 0px;
   top: 0px;
   
 }
   


 .Inner{
   
   border: 4px solid black;
   background-color: aquamarine;
   width: 34vw;
   height: 45vw;

 };